*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    background-color: #000;
}

.cell{
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
}

.cell:hover{
    cursor: pointer;
}

#win-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

#win-section button{
    width: 5rem;
    height: 3rem;
}
